button[type="reset"]{
	background: #e14228;
	color: #fff;
}
button[type="submit"]{
	background-color: #54f849;
}
/*
#LastName, #FirstName{
	background: #ff0000;
}
#FirstName{
	border-radius: 10px;
}

*/
nav{
	position: fixed;
}

form[name="New LicenseForm"] {
	border: 5px solid #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}
div{
	display: inline-block;
	margin: 10px 20px;
}
label{
	display: block;
	padding: 20px 0;
}
ul{
	list-style-type: none;
}
li {
	display: inline-block;
    margin: 0px 10px;
}
button{
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 0px 5px;
}